---
http_interactions:
- request:
    method: get
    uri: https://api.recruiterbox.com/v2/candidates/?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"offset":0,"limit":100,"total":6066},"objects":[{"id":1,"opening_id":254644,"stage_id":2319011,"email":"test@testdouble.com","phone":"aut","first_name":"Jaq","last_name":"Smith","description":"Cross-platform
        didactic monitoring","created_date":"2025-11-07","updated_date":3806388256,"resume":null,"source":"Gem","source_type":"ipsum","created_by":null,"assigned_to":{"id":378524,"name":"voluptate","email":"vito.morissette@heathcote.test"}},{"id":67370893,"opening_id":672865,"stage_id":5934049,"email":"robt@rosenbaum.test","phone":"aliquid","first_name":"est","last_name":"repellat","description":"Reverse-engineered
        attitude-oriented access","created_date":"2025-04-28","updated_date":5577471093,"resume":null,"source":"adipisci","source_type":"sit","created_by":null,"assigned_to":{"id":378524,"name":"est","email":"ty.jaskolski@berge-kunze.test"}},{"id":67335012,"opening_i[...]
[...]
