---
http_interactions:
- request:
    method: post
    uri: https://api.recruiterbox.com/v2/candidates/
    body:
      encoding: UTF-8
      string: '{"first_name":null,"last_name":null,"email":null,"source":null,"opening_id":null,"stage_id":null,"description":null,"phone":null,"profile_data":[]}'
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"email":"This field is required","first_name":"This field is required"}'
  recorded_at: Wed, 29 Oct 2025 14:43:12 GMT
recorded_with: VCR 6.3.1
