---
http_interactions:
- request:
    method: post
    uri: https://api.recruiterbox.com/v2/candidates/
    body:
      encoding: UTF-8
      string: '{"first_name":"Jaq","last_name":"Smith","email":"jaq.smith@testdouble.com","source":"API
        Source","opening_id":254644,"stage_id":null,"description":null,"phone":null,"profile_data":[{"name":"age","value":"30"},{"name":"location","value":"USA"},{"name":"level","value":""},{"name":"Skill
        1","value":"[\"Ruby\", \"JavaScript\"]"},{"name":"Skill 2","value":"[]"}]}'
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":55255984,"opening_id":254644,"stage_id":2319011,"stage_name":"sint","email":"jaq.smith@testdouble.com","phone":null,"first_name":"Jaq","last_name":"Smith","description":"Up-sized
        systematic utilisation","profile_data":[{"name":"sunt","value":"corrupti"},{"name":"omnis","value":"commodi"},{"name":"maxime","value":"soluta"},{"name":"vel","value":"id"},{"name":"quod","value":"accusamus"}],"created_date":"2025-12-03","updated_date":7903181392,"resume":null,"state":"New
        Mexico","state_metadata":{"reason":null,"explanation":null},"labels":[],"source":"sint","source_type":"sit","created_by":{"id":267542,"name":"quos","email":"gregg@hammes-raynor.example"},"assigned_to":{"id":267542,"name":"non","email":"willie@cronin.example"},"resource_uri":"quia"}'
  recorded_at: Wed, 29 Oct 2025 14:43:11 GMT
recorded_with: VCR 6.3.1
