---
http_interactions:
- request:
    method: get
    uri: https://api.recruiterbox.com/v2/evaluations/?candidate_id=67170206&limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"offset":0,"limit":100,"total":3},"objects":[{"feedback":[{"evaluation_criteria":"libero","rating":-1,"body":"sint","attachments":[],"submitted_by":{"id":474509,"name":"omnis","email":"kirby@simonis.example"},"date_submitted":5089466201,"is_locked":false},{"evaluation_criteria":"sed","rating":7309445250,"body":"adipisci","attachments":[],"submitted_by":{"id":474509,"name":"dolores","email":"roy@sauer.test"},"date_submitted":6157910367,"is_locked":false},{"evaluation_criteria":"esse","rating":2943913360,"body":"eum","attachments":[],"submitted_by":{"id":474509,"name":"inventore","email":"weldon@jakubowski-bechtelar.test"},"date_submitted":5931314845,"is_locked":false},{"evaluation_criteria":"nobis","rating":9221275455,"body":"ut","attachmen[...]
