---
http_interactions:
- request:
    method: get
    uri: https://api.recruiterbox.com/v2/interviews/?candidate_id=41477722&limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"offset":0,"limit":100,"total":6},"objects":[{"id":2719855,"title":"Pharmaceuticals","description":"Down-sized
        mission-critical middleware","time":9458863971,"duration":4885839841,"location":"Lake
        Kingshire","candidate":{"id":41477722},"type":{"name":"fugiat","metadata":{"meeting_url":"eum","password":"ut","meeting_id":"iusto"}},"created_by":{"id":267541,"name":"corrupti","email":"shila@parisian.test"},"date_created":5104353117,"is_private":false,"is_cancelled":false,"invitees":[{"name":"soluta","email":"karissa@ward.example"}]},{"id":2674413,"title":"Venture
        Capital & Private Equity","description":"Open-architected motivating website","time":2450420436,"duration":3067871750,"location":"Elinorport","candidate":{"id":41477722},"type":{"name":"culpa","metadata":{"meeting_url":"minus","password":"impedit","meeting_id":"nemo"}},"created_by":{"id":405106,"name":"nemo","email":"ahmad.pouros@heathcote.example"},"date_created":3076283847,"is_private":false,"is_cancelled":false,"invitees":[{"name":"nesciunt","email":"mitch@swaniawski-shields.test"}]},{"id":2663054,"title":"Nonprofit
        Organization Management","description":"Upgradable bifurcated instruction
        set","time":6467203374,"duration":9737342693,"location":"New Daniel","candidate":{"id":41477722},"type":{"name":"minima","metadata":{"meeting_url":"blanditiis","password":"autem","is_autogenerated":false,"meeting_id":"iusto"}},"created_by":{"id":267590,"name":"consequatur","email":"laurene@moen.example"},"date_created":7337396372,"is_private":false,"is_cancelled":false,"invitees":[{"name":"earum","email":"kent@heidenreich-gleason.example"}]},{"id":2655786,"title":"Medical
        Practice","description":"Operative tangible policy","time":8028066318,"duration":6848483996,"location":"Shakitaborough","candidate":{"id":41477722},"type":{"name":"inventore","metadata":{"meeting_url":"eaque","pas[...]
