---
http_interactions:
- request:
    method: get
    uri: https://api.recruiterbox.com/v2/openings/?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"offset":0,"limit":100,"total":40},"objects":[{"id":678305,"title":"Computer Software","description":"Object-based
        composite model","location":"Maine","position_type":"Full Time","is_remote_allowed":true,"is_private":false,"is_archived":false,"application_email":"berna_dietrich@huels.example","hosted_url":"http://batz.example/carrol_roberts","created_date":"2025-01-15","modified_date":"2025-09-11","additional_fields":[{"name":"fugiat","value":"consequatur","is_private":true},{"name":"velit","value":"et","is_private":false}],"tags":["banjo","DIY","waistcoat"],"team":"typewriter","state":"Wisconsin","close_date":"2025-07-18"},{"id":677591,"title":"Sports","description":"Public-key
        national intranet","location":"North Cassandraberg","position_type":"Full
        Time","is_remote_allowed":false,"is_private":true,"is_archived":true,"application_email":"denny@hodkiewicz.example","hosted_url":"http://schaden-miller.example/saran","created_date":"2025-09-10","modified_date":"2025-12-23","additional_fields":[{"name":"aut","value":"velit","is_private":true},{"name":"provident","value":"maxime","is_priva[...]
- request:
    method: get
    uri: https://api.recruiterbox.com/v2/openings/678305
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTIwZjllMzRjNmEyNDQwZTkwMWVhN2RlZDRhYjBkMzg6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":678305,"title":"Public Relations and Communications","description":"Organized
        holistic archive","location":"Hodkiewiczton","position_type":"Full Time","is_remote_allowed":true,"is_private":false,"is_archived":true,"application_email":"kelley_turcotte@feest.test","hosted_url":"http://kuhlman.test/kendall","created_date":"2025-03-10","modified_date":"2025-06-24","stages":[{"id":5986001,"name":"quis","type":null,"is_prospecting":false,"position":6416101345},{"id":5986904,"name":"nesciunt","type":null,"is_prospecting":false,"position":3574899704},{"id":5986002,"name":"nisi","type":"sed","is_prospecting":false,"position":3576105053},{"id":5986003,"name":"aperiam","type":"aliquam","is_prospecting":false,"position":1105878233},{"id":5986005,"name":"consequatur","type":null,"is_prospecting":true,"position":8425816580},{"id":5986905,"name":"ad","type":"enim","is_prospecting":false,"position":6355835885},{"id":5986006,"name":"ad","type":null,"is_prospecting":true,"position":1970558015},{"id":5986908,"name":"quasi","type":null,"is_prospecting":false,"position":6667072204},{"id":5986906,"name":"qui","type":"aspernatur","is_prospecting":false,"position":8502864679},{"id":5986909,"name":"aliquam","type":null,"is_prospecting":false,"position":9372394134},{"id":5986907,"name":"possimus","type":"occaecati","is_prospecting":false,"position":7134396722},{"id":5986910,"name":"sit","type":null,"is_prospecting":false,"position":8227287825},{"id":5986004,"name":"repellendus","type":null,"is_prospecting":false,"position":2638169252},{"id":5986911,"name":"quis","type":null,"is_prospecting":false,"position":7094235951}],"application_form_fields":[{"name":"sunt","display_name":"hic","type":"aliquam","choices":["et","dignissimos"],"is_required":false,"is_disabled":false,"position":2211658436},{"name":"est","display_name":"tempora","type":"consequatur","choices":[],"is_required":true,"is_disabled":false,"position":5150573864},{"name":"illo","display_name":"saepe","type":"voluptatem","choices":[],"is_required":false,"is_disabled":false,"position":7160958116},{"name":"explicabo","display_name":"at","type":"incidunt","choices":["exercitationem","commodi"],"is_required":true,"is_disabled":false,"position":6402956308},{"name":"fugiat","display_name":"tempore","[...]
